@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

span {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  margin-top: 20px;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 10%;
}
.button-container{
  height: 100%;
  width: 20%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover{
  cursor: pointer;
  opacity: 80%;
}
.button1 {background-color: #04AA6D;} /* Green */
.button2 {background-color: #f44336;} /* Red */ 